body {
    background-image: url("/assets/img/primer-plano-pelota-futbol-centro-estadio_880763-6555.jpg");
    background-size: cover;
    color: rgb(248, 245, 245);
}

#cuerpo {
    color: rgb(248, 246, 246);

}